<div class="container-fluid px-5">

  <div class="row align-items-start">
    <div class="col-xxl-12 text-center p-3 mt-2">
      <h1 class="title">SekiShop</h1>
      <h2 class="subtitle">If there's anything you can think of, you can find it here</h2>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 productos">
      <app-producto-producto-plist-unrouted (producto_selection)="onProductoChange($event)" [reload]="reloadProductos"></app-producto-producto-plist-unrouted>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 compras">
      <app-usuario-compra-plist-unrouted [id_producto]="idProducto" (compra_change)="onCompraChange($event)"></app-usuario-compra-plist-unrouted>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 info">
      <div class="card">
        <div class="card-header">
          Usuarios con más compras
        </div>
        <div class="card-body">
          <app-usuario-usuario-featured-unrouted></app-usuario-usuario-featured-unrouted>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Productos más vendidos
        </div>
        <div class="card-body">
          <app-producto-producto-featured-unrouted></app-producto-producto-featured-unrouted>
        </div>
      </div>
    </div>
  </div>
</div>