<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3 *ngIf="id_producto>0">Filtrado por producto ({{id_producto}} - {{oProducto?.nombre}}) <a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_producto>0" [routerLink]="['/admin','compra','plist']">Quitar filtro</a>
    </h3>
    <h3 *ngIf="id_usuario>0">Filtrado por usuario ({{id_usuario}} - {{oUsuario?.nombre}} {{oUsuario?.apellido}}) <a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_usuario>0" [routerLink]="['/admin','compra','plist']">Quitar filtro</a></h3>
    <h3 *ngIf="!(id_usuario>0)&&!(id_producto>0)">Ningún filtro activo</h3>
    <h3>Mostrando {{oPage?.numberOfElements}} compras de un total de {{oPage?.totalElements}} compras</h3>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('cantidad')">Cantidad</th>
          <th (click)="doOrder('coste')">Coste</th>
          <th (click)="doOrder('fecha')">Fecha</th>
          <th (click)="doOrder('usuario')">Usuario</th>          
          <th (click)="doOrder('producto')">Producto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{compra.id}}</strong></td>
          <td class="text-center">{{compra.cantidad}}</td>
          <td class="text-center">{{compra.coste}}</td>
          <td class="text-center">{{compra.fecha | date: 'dd-MM-yyyy'}}</td>
          <td>
            <a [routerLink]="['/admin','compra','plist','byusuario', compra.usuario.id]">({{compra.usuario.id}}) {{compra.usuario.nombre}}
              {{compra.usuario.apellido}}</a>
          </td>
          <td>
            <a [routerLink]="['/admin','compra','plist','byproducto', compra.producto.id]">({{compra.producto.id}})
              {{compra.producto.nombre}}
            </a>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/admin','compra','view', compra.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(compra)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/admin','compra','edit', compra.id]"><i
                  class="pi pi-pencil"></i></button>
              <button class="btn btn-danger" (click)="doRemove(compra)"><i class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Reply removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-compra-detail-unrouted [id]="oCompraToRemove!.id"></app-admin-compra-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Estás seguro de que quieres eliminar la compra?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>