<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field *ngIf="operation=='EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No puedes cambiar este número</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" required>
            <mat-hint align="end">De 3 a 255 carácteres</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')">El nombre es obligatorio</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">El nombre es demasiado corto</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">El nombre es demasiado largo</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Categoría:</mat-label>
            <input matInput formControlName="categoria" placeholder="Categoría" required>
            <mat-hint align="end">De 3 a 100 carácteres</mat-hint>
            <mat-error *ngIf="hasError('categoria', 'required')">El nombre de la categoría es obligatorio</mat-error>
            <mat-error *ngIf="hasError('categoria', 'minlength')">El nombre de la categoría es demasiado corto</mat-error>
            <mat-error *ngIf="hasError('categoria', 'maxlength')">El nombre de la categoría es demasiado largo</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Stock:</mat-label>
            <input matInput type="number"  formControlName="stock" placeholder="Stock" required>
            <mat-hint align="end">Solo números</mat-hint>
            <mat-error *ngIf="hasError('stock', 'required')">El stock disponible es obligatorio</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Precio:</mat-label>
            <input matInput type="number" formControlName="precio" placeholder="Precio" required>
            <mat-hint align="end">Solo números</mat-hint>
            <mat-error *ngIf="hasError('precio', 'required')">El precio del producto es obligatorio</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Descripción:</mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripción" required>
            <mat-hint align="end">Solo números</mat-hint>
            <mat-error *ngIf="hasError('descripcion', 'required')">La descripción del producto es obligatoria</mat-error>
            <mat-error *ngIf="hasError('descripcion', 'minlength')">La descripción es demasiado corta</mat-error>
          </mat-form-field>
        </div>
        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!productoForm.valid">Guardar producto</button>
        </div>
      </form>
    </div>
  </div>
</div>