<div *ngIf="status !== null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status === null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="compraForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field *ngIf="operation=='EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">No puedes cambiar este número</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" formControlName="cantidad" placeholder="Ingrese la cantidad" required>
            <mat-hint align="end">Cantidad mínima: 1</mat-hint>
            <mat-error *ngIf="hasError('cantidad', 'required')">Introduce una cantidad</mat-error>
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <label for="fecha" class="col-sm-2 col-form-label">Creation datetime:</label>
          <div class="col-sm-10">
            <mat-form-field>
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha" placeholder="Seleccione una fecha" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">Selecciona una fecha</mat-hint>
              <mat-error *ngIf="hasError('fecha', 'required')">Debe establecer una fecha válida</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="usuario">
          <div class="form-group">
            <mat-form-field [style.width.px]="100">
              <mat-label>Usuario:</mat-label>
              <input matInput formControlName="id" placeholder="ID del usuario" readonly>
              <!-- Agrega aquí el input para el usuario -->
            </mat-form-field>
            <button class="btn btn-primary" type="button" (click)="onShowUsuariosSelection()">
              <i class="pi pi-search"></i>Encuentra un usuario
            </button>
            {{oCompra.usuario.nombre}} {{oCompra.usuario.apellido}}
          </div>
        </div>
        <div formGroupName="producto">
          <div class="form-group">
            <mat-form-field [style.width.px]="100">
              <mat-label>Producto:</mat-label>
              <input matInput formControlName="id" placeholder="ID del producto" readonly>
              <!-- Agrega aquí el input para el producto -->
            </mat-form-field>
            <button class="btn btn-primary" type="button" (click)="onShowProductosSelection()">
              <i class="pi pi-search"></i>Selecciona un producto
            </button>
            {{oCompra.producto.nombre}}
          </div>
        </div>
        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!compraForm.valid">Realizar compra</button>
        </div>
      </form>
    </div>
  </div>
</div>
